@if (action=='list') {
    @if (data && data.length!=0) {
        <div>
            <button class="button-one" (click)="addclick()">Add</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Writer</th>
                    <th>Price</th>
                    <th>Settings</th>
                </tr>
            </thead>
            <tbody>
                @for (item of data; track $index) {
                    <tr class="scroll-row">
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.writer}}</td>
                        <td>{{ item.price | number }} <span class="T">T</span></td>
                        <td>
                            <button (click)="editclick(item)" class="button-one">Edit</button>
                            <button (click)="deleteclick(item)" class="button-one">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>        
    }
    @else {
        <div class="spinner center">
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
            <div class="spinner-blade"></div>
        </div>
    }
}
@else {
     <div class="book-form">
        <h2>Book</h2>
        <label for="title">Title:</label>
        <input [(ngModel)]="entity.title" type="text" id="title" placeholder="Enter book title">
    
        <label for="writer">Writer:</label>
        <input [(ngModel)]="entity.writer" type="text" id="writer" placeholder="Enter writer's name">
    
        <label for="price">Price:</label>
        <input [(ngModel)]="entity.price" type="number" id="price" placeholder="Enter book price(T)" min="0">
    
        <div class="form-buttons">
            <button  (click)="ok()" class="confirm-btn">Confirm</button>
            <button (click)="cancel()" class="cancel-btn">Cancel</button>
        </div>
    </div>
    
}