/* Table */
table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

th {
  background-color: #444;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

tr:hover {
  background-color: #e0e0e0;
  transition: 0.3s;
}

td {
  direction: rtl;
  unicode-bidi: plaintext;
}
/* Add button */
.button-add {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: rgb(68, 68, 68);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: Arial, sans-serif;
}

.button-add:hover {
  background-color: rgb(42, 42, 42);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}