/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  background: #2c2f3307;
  color: rgb(69, 69, 69);
}

thead {
  background: rgb(74, 78, 85);
}

th {
  padding: 12px;
  text-align: left;
  font-weight: bold;
  color: rgb(231, 231, 231);
}

tbody tr {
  background: #36393f41;
}

td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #36393f41;
}

tbody tr:hover {
  background: #36393f58;
}

/* loading */
.spinner {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }
}

/* button 1 */
.button-one {
  background-color: #3b3f45;
  color: #ffffff;
  border: none;
  padding: 0.7em 1em;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  margin: 5px;
}

.button-one:hover {
  background: #4a4e55;
  transform: scale(1.05);
}

.button-one:active {
  transform: scale(0.95);
}

/*book form*/
.book-form {
  background: #252525;
  color: #d4d4d4;
  padding: 1.5em;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.book-form h2 {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.2rem;
}

.book-form label {
  font-weight: bold;
}

.book-form input {
  padding: 0.5em;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  outline: none;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.cancel-btn,
.confirm-btn {
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease, color 0.3s ease;
}

.cancel-btn {
  background: #b22222;
  color: white;
}

.cancel-btn:hover {
  background: #8b1a1a;
}

.confirm-btn {
  background: #3b3f45;
  color: white;
}

.confirm-btn:hover {
  background: #3b3f45b4;
}
