<!-- @if (action=='list') {
    @if (data && data.length!=0) {
        <div>
            <button (click)="addclick()">Add</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @for (item of data; track $index) {
                    <tr>
                        <td>{{item.fullname}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.phone}}</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @else {
    <div>Please Wait!</div>
    }
}
@else {
    <form>
        <div>
            <input id="fullname" name="fullname" type="text" placeholder="Fullname">
        </div>
        <div>
            <input id="address" name="address" type="text" placeholder="Address">
        </div>
        <div>
            <input id="phone" name="phone" type="text" placeholder="Phone">
        </div>
        <div>
            <button>Confirmation</button>
            <button>Cancellation</button>
        </div>
    </form>
} -->